<div class="page-header">
</div>
<div class='row'>
  <form role="form" class='general-form' ng-submit="testSubmit()" name="tf">
      <div class="form-group"
           ng-class="{ 'has-error has-feedback' : tf.testName.$invalid && !tf.testName.$pristine }">
          <textarea type="text" ng-model="test.name" class="form-control"
                 id="testName"
                 name="testName"
                 value="test.name"
                 placeholder="Enter test name"
                 ng-maxlength="100" required autofocus/>
          <span ng-show="tf.testName.$error.maxlength"
                class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="help-block"
                ng-show="tf.testName.$error.required">
              Name is required.
          </span>
          <span class="help-block"
                ng-show="tf.testName.$error.maxlength">
              Maximum Length 100 characters.
          </span>
      </div>
      <div class="form-group">
        <textarea class="form-control" ng-model="test.description"
                    id="testDescription"
                    placeholder="Enter test description"></textarea>
      </div>
      <div class="form-group">
          <textarea class="form-control" ng-model="test.script"
                    id="testScript"
                    placeholder="Enter test script"></textarea>
      </div>
      <a href="#/test_plans/{{test_plan}}" role="button">
        <button class="btn btn-small blue">Back to Test Plan</button>
      </a>
      <button class="btn btn-small green"
                      type="submit" ng-disabled="tf.$invalid">
                  {{ submitLabel }}</button>
  </form>
</div>