swagger: '2.0'
info:
  title: Distributed Test Framework Service Web API
  description: TODO
  license:
    name: TODO
    url: https://github.com/PSLCL/testing-framework
  version: '1.0'
host: ec2-34-232-157-150.compute-1.amazonaws.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /api/v1/stats:
    get:
      tags:
      - DTF
      summary: >
        Get the statistics of the service.
      operationId: getStats
      responses:
        200:
          description: The statistics object.
          schema:
            $ref: '#/definitions/Statistics'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read

  /api/v1/runrates:
    get:
      tags:
      - DTF
      summary: >
        Get the run rates.
      operationId: getRunRates
      parameters:
      - name: from
        in: query
        description: >
          The starting date/time in ms from epoch.  Defaults to current time minus one week.
        required: false
        type: integer
        format: int64
      - name: to
        in: query
        description: >
          The ending date/time in ms from epoch.  Defaults to current time.
        required: false
        type: integer
        format: int64
      - name: bucket
        in: query
        description: The modulus in seconds to apply to and subtract from the 'from' and 'to' values.  Defaults to 3600 (1 hr).
        required: false
        type: integer
        format: int64
      responses:
          200:
            description: The run rates.
            schema:
              $ref: '#/definitions/RunRates'
          401:
            description: Bad or expired token
            schema:
              $ref: '#/definitions/OAuth2Error'
          403:
            description: Access denied
            schema:
              $ref: '#/definitions/OAuth2Error'
          500:
            description: An unexpected service error occurred
            schema:
              $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/user_tests:
    get:
      tags:
      - DTF
      summary: >
        Get the user tests.
      operationId: getUserTests
      parameters:
      - name: user
        in: query
        description: The user to return tests for.
        required: false
        type: string
      responses:
        200:
          description: The user tests object.
          schema:
            $ref: '#/definitions/UserTests'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/modules:
    get:
      tags:
      - DTF
      summary: >
        Get the modules.
      operationId: getModules
      parameters:
      - name: filter
        in: query
        description: A 'like' filter that will be or searched against name, organization, attributes, version and sequence if given.
        required: false
        type: string
      - name: order
        in: query
        description: Order by where the value must be one of 'plans', 'tests' or 'name'.  The value may be preceeded by a '<' or '>'  If '<' order is ascending.  If '>' order is decending.  Defaults to "<name".  If ordering by 'name', the following are ordered in this order; 'organization', 'name', 'attributes', ' version', 'sequence' and 'pk_module'.  Note that pk_module is always returned in ascending order regardless of the '>' flag.
        required: false
        type: string
      - name: limit
        in: query
        description: Maximum number of modules to return. Can be equal to "all".  Defaults to the portals configuration 'page_limit' parameter (200).  If limit is given and set to "all" and the 'offset' parameter is also given, the limit is set to 100000.
        required: false
        type: string
      - name: offset
        in: query
        description: The offset in the order to list from.
        required: false
        type: integer
        format: init32
      responses:
        200:
          description: The modules object.
          schema:
            $ref: '#/definitions/Modules'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/modules/{id}/:
    get:
      tags:
      - DTF
      summary: >
        Get the requested module.
      operationId: getModule
      parameters:
      - name: id
        in: path
        description: The module id.
        required: true
        type: string
      responses:
        200:
          description: The module object.
          schema:
            $ref: '#/definitions/ModuleDetail'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        409:
          description: The requested module is unavailable.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/modules/{id}/artifacts:
    get:
      tags:
      - DTF
      summary: >
        Get the requested module's artifacts.
      operationId: getModuleArtifacts
      parameters:
      - name: id
        in: path
        description: The module id.
        required: true
        type: string
      - name: filter
        in: query
        description: A 'like' filter that will be or searched against name and configuration if given.
        required: false
        type: string
      - name: order
        in: query
        description: Order by where the value must be one of 'plans', 'tests', 'configuration' or 'name'.  The value may be preceeded by a '<' or '>'  If '<' order is ascending.  If '>' order is decending.  Defaults to "<name".  Note that pk_artifact is always returned in ascending order regardless of the '>' flag.
        required: false
        type: string
      - name: limit
        in: query
        description: Maximum number of artifacts to return. Can be equal to "all".  Defaults to the portals configuration 'page_limit' parameter (200).  If limit is given and set to "all" and the 'offset' parameter is also given, the limit is set to 100000.
        required: false
        type: string
      - name: offset
        in: query
        description: The offset in the order to list from.
        required: false
        type: integer
        format: init32
      responses:
        200:
          description: The module artifacts object.
          schema:
            $ref: '#/definitions/Artifacts'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        409:
          description: The requested module id is unavailable.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/modules/{id}/report:
    get:
      tags:
      - DTF
      summary: >
        Get the requested module's reports.
      operationId: getModuleReport
      parameters:
      - name: id
        in: path
        description: The module id.
        required: true
        type: string
      responses:
        200:
          description: The module report.
          schema:
            $ref: '#/definitions/Reports'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        409:
          description: The requested module id is unavailable.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/modules/{id}/report_print:
    get:
      tags:
      - DTF
      summary: >
        Get the requested module's printable reports.  Note: this returns an html page supported?
      operationId: getModuleReportPrint
      parameters:
      - name: id
        in: path
        description: The module id.
        required: true
        type: string
      responses:
        200:
          description: html page return not supported?
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        409:
          description: The requested module id is unavailable.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/test_plans:
    get:
      tags:
      - DTF
      summary: >
        Get the test plans.
      operationId: getTestPlans
      parameters:
      - name: filter
        in: query
        description: A 'like' filter that will be or searched against name, and description if given.
        required: false
        type: string
      - name: order
        in: query
        description: Order by where the value must be one of 'name', 'tests' or 'description'.  The value may be preceeded by a '<' or '>'  If '<' order is ascending.  If '>' order is decending.  Defaults to "<name".  Note that pk_test_plan is always returned in ascending order regardless of the '>' flag.
        required: false
        type: string
      - name: limit
        in: query
        description: Maximum number of modules to return. Can be equal to "all".  Defaults to the portals configuration 'page_limit' parameter (200).  If limit is given and set to "all" and the 'offset' parameter is also given, the limit is set to 100000.
        required: false
        type: string
      - name: offset
        in: query
        description: The offset in the order to list from.
        required: false
        type: integer
        format: init32
      responses:
        200:
          description: The test plans object.
          schema:
            $ref: '#/definitions/TestPlans'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/test_plans/{plan}/:
    get:
      tags:
      - DTF
      summary: >
        Get the requested test plan.  The number of tests returned are limited to the portals configuration 'page_limit' parameter (200).
      operationId: getTestPlan
      parameters:
      - name: plan
        in: path
        description: The plan primary key.
        required: true
        type: string
      - name: filter
        in: query
        description: A 'like' filter that will be or searched against 'name' if given.
        required: false
        type: string
      - name: after
        in: query
        description: List 'pk_test's that are greater than the given value.  Defaults to "0".
        required: false
        type: string
      responses:
        200:
          description: The test plan object.
          schema:
            $ref: '#/definitions/TestPlanDetail'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        409:
          description: The requested plan is unavailable.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/test_plans/{plan}/tests:
    get:
      tags:
      - DTF
      summary: >
        Get the requested test plan's tests.
      operationId: getPlanTests
      parameters:
      - name: plan
        in: path
        description: The plan primary key.
        required: true
        type: string
      responses:
        200:
          description: The test plan's tests object.
          schema:
            $ref: '#/definitions/Tests'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        409:
          description: The requested plan is unavailable.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/test_plans/{plan}/tests/{id}/:
    get:
      tags:
      - DTF
      summary: >
        Get the requested test plan's given test ID.
      operationId: getPlanTest
      parameters:
      - name: plan
        in: path
        description: The plan primary key.
        required: true
        type: string
      - name: id
        in: path
        description: The test id.
        required: true
        type: string
      responses:
        200:
          description: The test object.
          schema:
            $ref: '#/definitions/Test'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        409:
          description: The requested plan or test id is unavailable.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/versions:
    get:
      tags:
      - DTF
      summary: >
        Get the versions.
      operationId: getVersions
      responses:
        200:
          description: The versions object.
          schema:
            $ref: '#/definitions/Versions'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/report_versions:
    get:
      tags:
      - DTF
      summary: >
        Get the report versions.  Note: this returns an html page supported?
      operationId: getReportVersions
      responses:
        200:
          description: The report versions object. Supported?
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/report_descriptions:
    get:
      tags:
      - DTF
      summary: >
        Get the report descriptions.  Note: this returns an html page supported?
      operationId: getReportDescriptions
      responses:
        200:
          description: The report descriptions object.  Supported?
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/report_test_plans:
    get:
      tags:
      - DTF
      summary: >
        Get the report test plans.  Note: this returns an html page supported?
      operationId: getReportTestPlans
      responses:
        200:
          description: The version 1 report test plans object.  Supported?
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v2/report_test_plans:
    get:
      tags:
      - DTF
      summary: >
        Get the report test plans.  Note: this returns an html page supported?
      operationId: getReportTestPlans2
      responses:
        200:
          description: The version 2 report test plans object.  Supported?
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/instances:
    get:
      tags:
      - DTF
      summary: >
        Get the instances.
      operationId: getInstances
      responses:
        200:
          description: The instances object.
          schema:
            $ref: '#/definitions/Instances'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/instance/{id}/:
    get:
      tags:
      - DTF
      summary: >
        Get the requested instance ID.
      operationId: getInstance
      parameters:
      - name: id
        in: path
        description: The instance id.
        required: true
        type: string
      responses:
        200:
          description: The instance object.
          schema:
            $ref: '#/definitions/InstanceDetail'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        409:
          description: The requested instance id is unavailable.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/template/{id}/:
    get:
      tags:
      - DTF
      summary: >
        Get the requested template ID.
      operationId: getTemplate
      parameters:
      - name: id
        in: path
        description: The instance id.
        required: true
        type: string
      responses:
        200:
          description: The template object.
          schema:
            $ref: '#/definitions/Template'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        409:
          description: The requested template id is unavailable.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read
  /api/v1/artifacts/untested:
    get:
      tags:
      - DTF
      summary: >
        Get the untested artifacts
      operationId: getUntestedArtifacts
      responses:
        200:
          description: The untested artifacts object.
          schema:
            $ref: '#/definitions/UntestedArtifacts'
        401:
          description: Bad or expired token
          schema:
            $ref: '#/definitions/OAuth2Error'
        403:
          description: Access denied
          schema:
            $ref: '#/definitions/OAuth2Error'
        500:
          description: An unexpected service error occurred
          schema:
            $ref: "#/definitions/Error"
      security:
      - AccessToken:
        - dtf_read

securityDefinitions:
  AccessToken:
    type: oauth2
    authorizationUrl: https://cstkit.com/oauth2/authorize
    flow: implicit
    scopes:
      dtf_read: >
        FIXME /metadata GET, /metadata/{keyspace} GET and /metadata/{keyspace}/{metadataID} GET.  Also required with all metadata_write required endpoints.
      dtf_write: >
        FIXME /metadata/{keyspace} POST, /metadata/{keyspace}/{metadataID} PUT and /metadata/{keyspace}/{metadataID} DELETE.
definitions:
  Error:
    type: object
    properties:
      errorCode:
        type: string
      errorDescription:
        type: string
  OAuth2Error:
    type: object
    properties:
      error:
        type: string
      error_description:
        type: string
      error_uri:
        type: string

  Statistics:
    type: object
    properties:
      module_count:
        type: integer
        format: int32
        description: The number of modules
      test_plan_count:
        type: integer
        format: int32
        description: The number of test plans
      test_count:
        type: integer
        format: int32
        description: The number of tests
      artifact_count:
        type: integer
        format: int32
        description: The number of artifacts
      ti_count:
        type: integer
        format: int32
        description: The number of test instances
      ti_pending:
        type: integer
        format: int32
        description: The number of pending test instances
      ti_running:
        type: integer
        description: The number of running test instances
      untested_module_count:
        type: integer
        format: int32
        description: The number of untested modules
  RunRates:
    type: object
    properties:
      from:
        type: string
        description: >
          The starting date/time in "yyyy-MM-dd hh:mm:ss" format.
      to:
        type: string
        description: >
          The ending date/time in "yyyy-MM-dd hh:mm:ss" format.
      fromTimestamp:
        type: integer
        format: int64
        description: >
          The starting date/time in ms from epoch.  Defaults to current time minus one week.
      toTimestamp:
        type: integer
        format: int64
        description: >
          The ending date/time in ms from epoch.  Defaults to current time.
      bucket:
        type: integer
        format: int64
        description: The modulus in seconds to apply to and subtract from the 'from' and 'to' values.  Defaults to 3600 (1 hour).
      starting:
        type: array
        items:
          $ref: '#/definitions/RunRate'
      running:
        type: array
        items:
          $ref: '#/definitions/RunRate'
      complete:
        type: array
        items:
          $ref: '#/definitions/RunRate'

  RunRate:
    type: object
    properties:
      timestamp:
        type: integer
        format: int64
        description: The timestamp of the match.
      total:
        type: integer
        format: int32
        description: The total hits of this timestamp match.

  UserTests:
    type: array
    description: List of user tests
    items:
      $ref: '#/definitions/UserTest'

  UserTest:
    type: object
    description: Test instance ID and run instance ID
    properties:
      pk_test_instance:
        type: integer
        format: int32
        description: The test instance ID
      pk_run:
        type: integer
        format: int32
        description: The run ID

  Modules:
    type: array
    description: List of modules
    items:
      $ref: '#/definitions/Module'
  Module:
    type: object
    properties:
      pk_module:
        type: integer
        format: int64
        description: The module ID.
      organization:
        type: string
        description: The organization that owns the module.
      name:
        type: string
        description: The name of the module.
      attributes:
        type: string
        description: a set of key-value pairs providing additional information about a module.
      version:
        type: string
        description: The version of the module.
      sequence:
        type: string
        description: The sequence of the module, used in addition to the version in order to differentiate versions of a module. Sequences are ordered alphabetically, with the latest being the most recent.
      tests:
        type: integer
        format: int32
        description: The number of tests.
      plans:
        type: integer
        format: int32
        description: The number of plans.
  ModuleDetail:
    type: object
    properties:
        module:
          type: object
          properties:
            pk_module:
              type: integer
              format: int64
              description: The module ID.
            organization:
              type: string
              description: The organization that owns the module.
            name:
              type: string
              description: The name of the module.
            version:
              type: string
              description: The version of the module.
            attributes:
              type: string
              description: a set of key-value pairs providing additional information about a module.
            scheduled_release:
              type: integer
              format: int64
              description: The scheduled release date.
            actual_release:
              type: integer
              format: int64
              description: The actual release date.
  Artifacts:
    type: array
    items:
        $ref: '#/definitions/Artifact'
  Artifact:
    type: object
    properties:
      pk_artifact:
        type: integer
        format: int64
        description: The artifact ID.
      name:
        type: string
        description: The artifact name.
      configuration:
        type: string
        description: The artifact configuration.
      derived_from_artifact:
        type: integer
        format: int64
        description: The artifact this is derived from.
      merged_from_module:
        type: string
        description: The artifact this was merged from.
      tests:
        type: integer
        format: int32
        description: The number of artifact tests.
      plans:
        type: integer
        format: int64
        description: The number of artifact plans.

  Reports:
    type: object
    properties:
      results:
        type: array
        items:
          $ref: '#/definitions/ReportResult'
        description: The requested module's results list.
      plans:
        type: array
        items:
          $ref: '#/definitions/ReportPlan'
        description: The requested module's plans list.
      tests:
        type: array
        items:
          $ref: '#/definitions/ReportTest'
        description: The requested module's tests list.
      modules:
        type: array
        items:
          $ref: '#/definitions/ReportModule'
        description: The requested module's module list.

  ReportResult:
    type: object
    properties:
      pk_test_plan:
        type: integer
        format: int64
        description: The test plan ID.
      pk_test:
        type: integer
        format: int64
        description: The test ID.
      pk_test_instance:
        type: integer
        format: int64
        description: The test instance ID.
      description:
        type: string
        description: The test report description.
      modules:
        type: string
        description: The test report description.
      result:
        type: boolean
        description: The test result, pass/fail.
      end_time:
        type: integer
        format: int64
        description: Test end timestamp.
  ReportPlan:
    type: object
    properties:
      pk_test_plan:
        type: integer
        format: int64
        description: The test plan ID.
      name:
        type: string
        description: The plan name.
      description:
        type: string
        description: The plan description.
  ReportTest:
    type: object
    properties:
      pk_test:
        type: integer
        format: int64
        description: The test ID.
      name:
        type: string
        description: The test name.
      description:
        type: string
        description: The test description.
  ReportModule:
    type: object
    properties:
      pk_module:
        type: integer
        format: int64
        description: The module's ID.
      offset:
        type: integer
        format: int64
        description: The module's offset.
      organization:
        type: string
        description: The module's organization.
      name:
        type: string
        description: The module's name.
      version:
        type: string
        description: The module's version.
      sequence:
        type: string
        description: The module's sequence.
      attributes:
        type: string
        description: The module's attributes.

  TestPlans:
    type: array
    items:
      $ref: '#/definitions/TestPlan'
    description: The list of test plans.

  TestPlan:
    type: object
    properties:
      pk_test_plan:
        type: integer
        format: int64
        description: The test plan ID.
      name:
        type: string
        description: the test plan's name.
      description:
        type: string
        description: The test plan's description.

  TestPlanDetail:
    type: object
    properties:
      plan:
        $ref: '#/definitions/TestPlan'
      tests:
        type: array
        items:
          $ref: '#/definitions/Test'
  Test:
    type: object
    properties:
      pk_test:
        type: integer
        format: int64
        description: The test ID.
      fk_test_plan:
        type: integer
        format: int64
        description: The test plan ID.
      name:
        type: string
        description: The test name.
      description:
        type: string
        description: the test description.
      script:
        type: string
        description: The script to run the test.

  Tests:
    type: array
    items:
      $ref: '#/definitions/Test'


  Versions:
    type: array
    items:
      $ref: '#/definitions/Version'

  Version:
    type: object
    properties:
      pk_module:
        type: integer
        format: int64
        description: The associated module ID.
      version:
        type: string
        description: The modules version.
      scheduled_release:
        type: integer
        format: int64
        description: The scheduled release date.
      actual_release:
        type: integer
        format: int64
        description: The actual release date.
  Instances:
    type: array
    items:
      $ref: '#/definitions/Instance'
    description: The instances

  Instance:
    type: object
    properties:
      key:
        type: string
        description: The instance ID.
      name:
        type: string
        description: The instance name.
      description:
        type: string
        description: The description of the instance.
      summary:
        $ref: '#/definitions/Summary'
      failed:
        type: array
        items:
          type: integer
          format: int64
  Summary:
    type: object
    properties:
      passed:
        type: integer
        format: int32
        description: Number passed.
      failed:
        type: integer
        format: int32
        description: Number failed.
      pending:
        type: integer
        format: int32
        description: Number pending.
      total:
        type: integer
        format: int32
        description: total runs.

  InstanceDetail:
    type: object
    properties:
      description:
        type: string
        description: The instance description.
      due_date:
        type: integer
        format: int64
        description: The instance due date.
      fk_described_template:
        type: integer
        format: int64
        description: The described template ID.
      start_time:
        type: integer
        format: int64
        description: The instance start time.
      end_time:
        type: integer
        format: int64
        description: The instance end time.
      result:
        type: boolean
        description: The instance run result.
      steps:
        type: string
        description: The instance steps.

  Template:
    type: object
    properties:
      pk_dt_line:
        type: integer
        format: int64
        description: The described template line ID.
      fk_child_dt:
        type: integer
        format: int64
        description: The child described template ID.
      artifacts:
        type: array
        items:
          $ref: '#/definitions/Artifact'
      description:
        type: string
        description: The template description.


  UntestedArtifacts:
    type: array
    items:
        $ref: '#/definitions/UntestedArtifact'

  UntestedArtifact:
    type: object
    properties:
      pk_module:
        type: integer
        format: int64
        description: The associated module ID.
      pk_artifact:
        type: integer
        format: int64
        description: The artifact ID.
      name:
        type: string
        description: The missing artifact name.
      version:
        type: string
        description: The missing artifact version.

