platform/.cache/**
platform/.build/**
platform/lib/**
platform/*/.build/**
platform/*/bin/**
platform/*/lib/**
platform/*/target/**
portal/repo/**
sample-test/.build/**
sample-test/lib/**
sample-test/generators/bin/*
sample-test/generators/target/*
**.classpath
**.project
**.settings**
**pom.xml
**.pom
**.jar
**.tar.gz
**ivy-*.xml
out/
.idea/
*.iml
