<div class="page-header">
    <h1>Modules</h1>
</div>
<div class="row list-header">
    <div dropdown-box class='dropdown-box-wrap' ng-click='openSort()'>
      <ul class='module-sort'>
        <i class="fa fa-sort"></i>
        <li>{{selected_filter}}<li>
        <li ng-click="sort.by('<name'); changeFilter('Name (ascending)');">Name (ascending)</li>
        <li ng-click="sort.by('>name'); changeFilter('Name (descending)');">Name (descending)</li>
        <li ng-click="sort.by('<plans'); changeFilter('Test Plans (ascending)');">Test Plans (ascending)</li>
        <li ng-click="sort.by('>plans'); changeFilter('Test Plans (descending)');">Test Plans (descending)</li>
        <li ng-click="sort.by('<tests'); changeFilter('Tests (ascending)');">Tests (ascending)</li>
        <li ng-click="sort.by('>tests'); changeFilter('Tests (descending)');">Tests (descending)</li>
      </ul>
    </div>
    <input type="text" class="form-control search" ng-model="filter"
           placeholder="Search for a module" ng-change="getData(modules, filter)">
</div>

<div class="row" ng-switch on="modules.length">
    <div class="module-list"
         infinite-scroll='moreModules()'
         infinite-scroll-disabled='busy'
         infinite-scroll-immediate-check="false"
         infinite-scroll-distance='1'>
      <span ng-switch-when="0">
          <em>No test plans in database.</em>
      </span>
      <ul class="list-items" ng-switch-default>
          <li ng-repeat="module in modules| filter:query">
            <div class='list-header-group'>
              <h1>
                <span class='organization'>{{ module.organization}}</span>
                <span class='module'>{{ module.name }}</span>
                <span class='attributes'>{{ module.attributes }}</span>
              </h1>
              <h2>
                <span class='version'>{{ module.version }}</span>
                <span class='sequence'>{{ module.sequence }}</span>
              </h2>
              <div class="list-action-btns">
                  <a href="#/modules/{{module.pk_module}}">
                    <i class='fa fa-pencil-square-o' title='View/Edit'></i>
                  </a>
                  <a href="#/modules/{{module.pk_module}}/report">
                    <i class='fa fa-line-chart' title="Report"></i>
                  </a>
              </div>
                <div class='badge-items'>
                  <span class="plans-badge">{{ module.plans }}</span>
                </div>
            <div class='badge-items'>
              <span class="tests-badge">{{ module.tests }}</span>
            </div>
            </div>
          </li>
      </ul>
    </div>
</div>