<div class='page-header'>
    <h1>Welcome to QA Portal</h1>
</div>
<div class="row page-text">
</div>
<div class="row">
    <div class="col-6">
        <div class='dash-block'>
            <h2>Components</h2>
            <p class="label" animate-on-change="stats.comp_count">{{ stats.comp_count }}</p>
        </div>
    </div>
    <div class="col-6">
        <div class='dash-block'>
            <h2>Test Plans</h2>
            <p class="label" animate-on-change="stats.test_plan_count">{{ stats.test_plan_count }}</p>
        </div>
    </div>
    <div class="col-6">
        <div class='dash-block'>
            <h2>Tests</h2>
            <p class="label" animate-on-change="stats.test_count">{{ stats.test_count }}</p>
        </div>
    </div>
    <div class="col-6">
        <div class='dash-block'>
            <h2>Artifacts</h2>
            <p class="label" animate-on-change="stats.artifact_count">{{ stats.artifact_count }}</p>
        </div>
    </div>
    <div class="col-6">
        <div class='dash-block'>
            <h2>Test Instances</h2>
            <p class="label" animate-on-change="stats.ti_count">{{ stats.ti_count }}</p>
        </div>
    </div>
</div>