<div class='page-header'>
    <h1>Summary</h1>
</div>
<div class="row page-text">
</div>
<div class="flexrow">
        <div class='dash-block'>
            <h2>Modules</h2>
            <p class="label" animate-on-change="stats.module_count">{{ stats.module_count }}</p>
        </div>
        <div class='dash-block'>
            <h2>Test Plans</h2>
            <p class="label" animate-on-change="stats.test_plan_count">{{ stats.test_plan_count }}</p>
        </div>
        <div class='dash-block'>
            <h2>Tests</h2>
            <p class="label" animate-on-change="stats.test_count">{{ stats.test_count }}</p>
        </div>
        <div class='dash-block'>
            <h2>Artifacts</h2>
            <p class="label" animate-on-change="stats.artifact_count">{{ stats.artifact_count }}</p>
        </div>
        <div class='dash-block'>
            <h2>Instances</h2>
            <p class="label" animate-on-change="stats.ti_count">{{ stats.ti_count }}</p>
        </div>
</div>