<div class="row">
    <div class="col-4 offset-4">
        <div ng-show="loginError" class="alert alert-danger">{{ loginError }}</div>
        <div ng-show="loginWarning" class="alert alert-warning">{{ loginWarning }}</div>
        <form class="login-form" role="form" ng-submit="loginUser()">
            <h1>Panasonic</h1>
            <h3>QA Portal</h3>
            <div class="form-group">
                <input ng-model="user.username" id="userUsername"
                       type="text" class="form-control" placeholder="Enter username">
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.password" class="form-control"
                        id="userPassword" placeholder="Enter Password">
                <button class="btn btn-large blue" ng-click="loginUser()" type="submit">
                    <a href="#">Login</a></button>
            </div>
        </form>
    </div>
</div>