<div class="page-header">
  <a class='back-btn' href="#/components">
    <i class='fa fa-arrow-circle-o-left'></i>
  </a>
  <h1>{{ heading }}</h1>
</div>
<div class='row'>
  <form role="form" class='general-form' ng-submit="submitFunction()" name="nComponent">
      <div class="form-group"
              ng-class="{ 'has-error has-feedback' : nComponent.componentName.$invalid && !nComponent.componentName.$pristine }">
          <input type="text" ng-model="component.name" class="form-control"
               id="componentName" name="componentName"
               value="component.name"
               placeholder="Enter component name"
               ng-maxlength="50" required autofocus>
        <span ng-show="nComponent.componentName.$error.maxlength"
              class="glyphicon glyphicon-remove form-control-feedback"></span>
        <span class="help-block"
              ng-show="nComponent.componentName.$error.required">
            Name is required.
        </span>
        <span class="help-block"
              ng-show="nComponent.componentName.$error.maxlength">
            Maximum Length 50 characters.
        </span>
      </div>
      <button class="btn btn-small green" type="submit"
                    ng-disabled="nComponent.$invalid">
                {{ submitLabel }}</button>
      </div>
  </form>
</div>