doctype html
html(lang='en', ng-app='qa-portal')
  head
    title QA Portal
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-cookies.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-sanitize.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.js')
    script(src='/javascripts/angularjs-nvd3-directives.js')
    script(src='/javascripts/d3.js')
    script(src='/javascripts/nv.d3.js')
    script(src='/javascripts/Chart.js')
    script(src='/javascripts/chartjs-directive.js')
    script(src='/javascripts/angular-busy.js')
    script(src='/javascripts/promise-tracker.js')
    script(src='/javascripts/promise-tracker-http-interceptor.js')
    script(src='//cdn.socket.io/socket.io-1.1.0.js')
    script(src='/client.js')
    link(rel='stylesheet', href='/stylesheets/nv.d3.css')
    link(rel='stylesheet', href='/stylesheets/angular-busy.css')

  body(ng-controller='DashboardCtrl', ng-class="{'dark-gray': isActive('/login')}")
    nav.navbar-side.dark-gray(ng-show="!isActive('/login')", class="{{sidebarClass}}")
      .navbar-header
        i.fa.fa-bars(ng-click="hideSidebar()")
      ul
        li(ng-class="{ active: isActive('/dashboard') }")
          a(href="#/dashboard") Dashboard
            i.fa.fa-tachometer
        li(ng-class="{ active: isActive('/modules') }")
          a(href="#/modules") Modules
            i.fa.fa-archive
        li(ng-class="{ active: isActive('/test_plans') }")
          a(href="#/test_plans") Test Plans
            i.fa.fa-list-ul
      p 
        | Copyright © 2014
        br 
        | Panasonic Corporation,
        br
        | All Rights Reserved.
    nav.navbar-top(ng-show="!isActive('/login')")
      a(href="#/dashboard")
        img(src='/skin/logo.png', alt='')
      ul
        li(ng-show="!user.username")
          a(href="/auth/atlassian-oauth") Login
        li(ng-show="user.username")
          img(ng-src="{{user.avatar}}" ng-if="user.username")
          a(href="/logout").
              Logged in as {{user.displayName}}<em ng-show="user.isAdmin"> (Admin)</em>, Logout

    div.flex-container
      div.main-content(ng-view, ng-class="{'sidebar-inactive': isActive('/login')}", class="{{sidebarClass}}")
        block content
    footer 