doctype html
html(lang='en', ng-app='qa-portal')
  head
    title QA Portal
    link(rel='stylesheet', href='/stylesheets/style.css', media='all')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(src='/javascripts/Chart.js')
  body
    .container
      br
      img(src='/skin/logo.png')
      block content
      h6.text-muted.small Copyright © 2016 Panasonic Corporation, All Rights Reserved.
