/* Style Design and Color Scheme
 =============================*/

 /* Master applies universally */
 $master-color = #F2F2F2
 $master-font-size = 14px
 $master-font-family = 'Roboto', sans-serif
 $master-font = $master-font-size $master-font-family

 /* Header relates to the top horizontal navigation bar */
 $header-height = 50px

 /* Navigation relates to the main left navigation bar */
 $navigation-width = 250px
 $navigation-height = 50px
 $navigation-width-collapsed = 40px
 $navigation-background = #3D3D3D
 $navigation-color = #F2F2F2
 $navigation-transition-width = 900px
 $navigation-hover-background = #545454
 $navigation-glyph-width = 45px
 $navigation-glyph-border = 9px
 $navigation-glyph-size = 1.7em
 $navigation-gutter = 20px

 /*Header background: #f4f4f4;
 Header foreground: #3D3D3D;
 Navigation background: #3D3D3D;
 Sidebar diminished text: #666666;

 =============================*/
/* Resets and Overrides
 =============================*/

@import "normalize.css"

*
  margin 0
  padding 0

/* Links and Type
 =============================*/

body
  font $master-font
  color $master-color

/* Layout
 =============================*/

/* Navigation Sidebar */

nav.navbar-side
    background $navigation-background
    width $navigation-width
    position fixed
    top 0
    left:0
    min-height 100%
    transition left .5s ease
    -webkit-transition left .5s ease
    -moz-transition left .5s ease
    z-index 9997

nav.navbar-side.collapsed
    left $navigation-width-collapsed - $navigation-width

@media only screen and (max-width: $navigation-transition-width)
    nav.navbar-side.collapsed
        left 0

    nav.navbar-side
        left $navigation-width-collapsed - $navigation-width

nav.navbar-side a
    text-decoration none
    color $navigation-color

.navbar-side ul li a
    display block
    height $navigation-height
    line-height $navigation-height
    padding-left $navigation-glyph-width
    position relative

.navbar-side ul li a:hover
    background $navigation-hover-background

.navbar-side ul li.active a
    background white
    border-left $navigation-gutter solid $navigation-background
    padding-left $navigation-glyph-width - $navigation-gutter
    color $navigation-background

.navbar-side ul li.active a:hover
    background white

.navbar-side ul li i
    position absolute
    height $navigation-height
    line-height $navigation-height
    right $navigation-glyph-border
    font-size $navigation-glyph-size

/* There can be a single paragraph in the side. */
.navbar-side p
    text-align center
    font-weight 100
    font-size .8em
    padding 0 40px
    color #666666
    position absolute
    bottom 10px

/* Fit the header over the top margin, bottom margin is space before navigation list. Padding provides the visible area. */
.navbar-header
    font-size 25px
    padding 15px
    margin 50px 0px 20px 0px

.navbar-header i
    position absolute
    right 11px
    top 58px
    cursor pointer

.navbar-top
    position fixed
    top 0
    width 100%
    background #f4f4f4
    border-bottom 1px solid #dddddd
    z-index 9998

.navbar-top img
    padding 15px
    height 20px
    float left
    transition margin-left .5s ease
    -webkit-transition margin-left .5s ease
    -moz-transition margin-left .5s ease

/* TODO: Is this needed? */
.navbar-top img.collapsed
    margin-left 40px

.navbar-top ul li
    list-style-type none
    margin-right 50px
    float right

@media only screen and (max-width: 768px)
    .navbar-top ul li
        margin-right 10px

.navbar-top ul li a
    text-decoration none
    color #3D3D3D
    line-height 50px

.navbar-top ul li a:hover
    color black

/* TODO: Is this needed? */
.flex-container
    overflow hidden

/* Main content styles */
.main-content {
    margin-left: $navigation-width
    margin-top:70px;
    padding:15px 30px;
    color:black;
    transition:margin-left .5s ease;
    -webkit-transition:margin-left .5s ease;
    -moz-transition:margin-left .5s ease;
}

.main-content.collapsed {
    margin-left:40px;
}

@media only screen and (max-width: 900px) {
    .main-content {
        margin-left:40px;
        margin-right:0;
        transition:all .5s ease;
        -moz-transition:all .5s ease;
        -webkit-transition:all .5s ease;
    }

    .main-content.collapsed {
        margin-right:-210px;
        margin-left:250px;
    }

    /* TODO: Is this needed? */
    .main-content.sidebar-inactive {
        margin-left:0;
    }
}

/* Main column header */
.page-header
    position relative
    padding-left 1%

.page-header i.fa-pencil
    background transparent
    color #D8D8D8
    font-size 20px

.page-header i.fa-pencil:hover
    background transparent
    color #c5c5c5

.page-header h1
    color #333
    font-weight 100
    font-size 30px
    font-variant small-caps

.page-header .back-btn
    position absolute
    top 11px
    left -25px
    transition all .25s ease
    -moz-transition all .25s ease
    -webkit-transition all .25s ease

@media only screen and (max-width: 768px) {
    .page-header h1 {
        font-size:2em;
    }

    .page-header .back-btn {
        top:0;
        left:3.1%;
    }
}

/* Main column page */
.page-text
    font-weight 300
    margin 25px 0

.page-text h1
    font-weight 100

.page-text p
    padding-left 5%

.page-text .btn
    margin-bottom 15px

/* Row styles */
.row
    padding-left 2%
    padding-right 2%
    width 96%
    overflow auto

.flexrow
    @extend .row
    display flex
    flex-wrap wrap

/* Generalized List */
.list-header {
    position:relative;
    height:40px;
    overflow:visible;
}
.list-header-group {
    overflow:auto;
    cursor:pointer;
}
.list-header span {
    padding-left:65px;
    font-style:italic;
    font-weight:100;
    float:left;
}
.list-header .dropdown-box-wrap {
    position: absolute;
    top: 0;
    right: 250px;
    border: 1px solid #ddd;
    height:30px;
    overflow:hidden;
    transition:all .25s ease;
}
.list-header ul {
    float: right;
    list-style-type: none;
    line-height: 30px;
    font-size:.9em;
    margin-left:1%;
    cursor:pointer;
    background: white;
    width:100%;
}
.list-header ul li {
    padding:0 25px 0 5px;
    transition:all .25s ease;
    -moz-transition:all .25s ease;
    -webkit-transition:all .25s ease;
}
.list-header ul li:hover {
    background:#e2e2e2;
}
.list-items {
    list-style-type: none;
}
.list-items:first-child {
    border-top:2px solid #F2F2F2;
}
.list-items li {
    padding:5px 0;
    border-bottom:2px solid #F2F2F2;
//    transition:height .25s ease;
//    -moz-transition:height .25s ease;
//    -webkit-transition:height .25s ease;
    overflow:hidden;
}
.list-items li h1 {
    font-size:1.5em;
}
.list-items li.display-info {
    height:90px;
}
.list-items li .badge-items {
    display: inline-block;
    font-size: 1em;
    font-weight: 100;
    float:right;
    margin-right:3%;
}
.list-items li .badge-items span {
    border-radius: 20px;
    display: inline-block;
    background: #E2E2E2;
    margin-top: 7px;
    padding: 0 10px;
    text-align: center;
}
.list-items li .badge-items span.tests-badge {
    color: white;
    background: #A0A0A0;
}
.list-items h1 {
    font-weight:300;
    float:left;
}
.list-items h2 {
    font-weight: 200;
    float: left;
}
.list-action-btns {
    float:right;
    margin-top:2px;
}
.list-action-btns i {
    font-size:1.6em;
    padding:4px 6px;
    border-radius:22px;
    transition:all .25s ease;
    -moz-transition:all .25s ease;
    -webkit-transition:all .25s ease;
}
.list-items.add-module li .list-action-btns {
    font-size:.8em;
}
.list-items.add-module li .list-action-btns i {
    font-size: 1.6em;
}
.list-items.add-module li .list-action-btns i.fa-tasks {
    font-size:1.3em;
}
.list-action-btns a {
    display:inline-block;
}
.list-items.add-module li {
    /*height:15px;*/
    transition:all .25s ease;
    -moz-transition:all .25s ease;
    -webkit-transition:all .25s ease;
}
.list-items.add-module li .badge-items span {
    margin-top:1px;
}
.list-items.add-module li .badge-items {
    font-size:1em;
}
.list-items.add-module h1 a {
    text-decoration:none;
    color:inherit;
}
.list-items.add-module h1 {
    font-size:1.3em;
}
.list-items.add-module li.not-selected {
    background:#f4f4f4;
    color:#6d6d6d;
    border-bottom:1px solid #d6d6d6;
}
.list-items li .item-info {
    float:left;
    width:100%;
    transition:all .25s ease;
    -moz-transition:all .25s ease;
    -webkit-transition:all .25s ease;
}
.list-items li .item-info.display-info {
    opacity:1;
}
.list-items li .item-info .description {
    background:#f4f4f4;
    padding:15px;
    font-style:italic;
    margin-top:10px;
}
.list-items li .item-info .script {
  background:#f4f4f4;
  padding:15px;
  font-family:monospace;
  margin-top:10px;
}

/* Report styles */
.report-module h1
    color blue

.report-module span.id
    position relative
    top -.5em
    font-size 50%
    border 2px solid
    padding 2px
    margin-left 3px
    color green

.report-module span.id::before
    content "ID: "

.report-module h2
    color blue

.report-module h3
    color blue

.report-module h4
    color blue

.report-module div.graph-block
    width 100%
    overflow hidden

.report-module div.graph
    width 110px
    float left

.report-module div.legend
    margin-left 110px

.report-module .legend p.total
    font-weight bold

.report-module .legend p.pass
    color #00CC00

.report-module .legend p.fail
    color #FF0000

.report-module .legend p.pending
    color #A0A0A0

.report-module .legend .total span.count::before
    content "Total: "

.report-module .legend .pass span.count::before
    content "Pass: "

.report-module .legend .fail span.count::before
    content "Fail: "

.report-module .legend .pending span.count::before
    content "Pending: "

.report-module .legend span.percent::before
    content " ("

.report-module .legend span.percent::after
    content "%)"

.results p.total
    font-weight bold

.results p.pass
    color #00CC00

.results p.fail
    color #FF0000
    word-wrap: break-word;

.results p.pending
    color #A0A0A0

.results .total span.count::before
    content "Total: "

.results .pass span.count::before
    content "Pass: "

.results .fail span.count::before
    content "Fail: "

.results .pending span.count::before
    content "Pending: "

.results span.percent::before
    content " ("

.results span.percent::after
    content "%)"

.report-module ul.list-module
    margin 0 0 0 0
    padding 0
    list-style-type none
    text-align left

.report-module .list-module li
    display inline-block
    margin 0 5px 5px 0

.module-list li h1
    font-size 1.5em

.module-list .organization
    color green

.module-list .module
    color blue

.module-list .attributes
    color purple

.module-list .version
    color gray

.module-list .sequence
    color blue

.module-list li .badge-items span
    border-radius 20px
    display inline-block
    background #E2E2E2
    margin-top 7px
    padding 0 10px
    text-align center

.module-list li .badge-items span.plans-badge
    color white
    background #A0A0A0

.module-list li .badge-items span.plans-badge::before
    content "Plans: "

.module-list li .badge-items span.tests-badge
    color white
    background #A0A0A0

.module-list li .badge-items span.tests-badge::before
    content "Tests: "

.test-plan-list li .badge-items span.tests-badge::before
    content "Tests: "

.artifact-list li .badge-items span.plans-badge::before
    content "Plans: "

.artifact-list li .badge-items span.tests-badge::before
    content "Tests: "


/* Boxes
 =============================*/

/* Forms
 =============================*/

/* Misc.
 =============================*/

div.graphblock {
  width: 100%;
  overflow: hidden;
}
div.graph {
  width: 110px;
  float:left;
}
div.graphlegend {
  margin-left: 110px;
}
p.total {
  margin: 0 0 0;
  font-weight: bold;
}
p.passed {
  color: #00CC00;
  margin: 0 0 0;
}
p.failed {
  color: #FF0000;
  margin: 0 0 0;
}
p.pending {
  color: #A0A0A0;
  margin: 0 0 0;
}
a {
  color: #E0E6F8;
}
textarea {
  height: 175px;
}

copyright {
    font-weight:100;
    font-size:10px;
    color:#535353;
}
input[type="text"], input[type="password"], textarea {
    background:white;
    border:none;
    height:30px;
    padding-left:5px;
    margin-bottom:10px;
    font-family: 'Roboto', sans-serif;
}
input:focus, textarea:focus {
    background:white !important;
    outline:1px solid #3985FF !important;
    outline-offset: 0;
}
input:-webkit-autofill {
    background:white !important;
}
input.search {
    border:1px solid #DDDDDD;
    margin-left:20px;
    width:200px;
    float:right;
}
.fa {
    cursor:pointer;
}
.linked {
    color: #005695;
    text-decoration: underline;
    cursor: pointer;
}
.empty {
    display:none;
}
/* Alignment classes */

/* Columns */
.col-4 {
    width:32.33%;
    margin-left:1%;
    float:left;
}
.col-6 {
    width:19%;
    margin-left:1%;
    float:left;
}
.col-12 {
    width:100%;
    margin-left:20px;
}
/* Offsets */
.offset-4 {
    margin-left:33.33%;
}
/* Button classes */
.btn{
    border: none;
    border-radius:0;
    display:inline-block;
    cursor:pointer;
}
.btn a {
    color:inherit;
    text-decoration:none;
    display:block;
}
.btn-small {
    padding: 8px 15px;
}
.btn-medium {
    padding: 10px 35px;
}
.btn-large {
    padding: 15px 50px;
}
/* Color classes */
.blue {
    background:#005695;
    color:#dfecff;
}
.btn.blue:disabled {
    background:#6c889b;
}
.green {
    background:#58904D;
    color:white;
}
.btn.green:disabled {
    background:#b5c4b2;
}
.yellow {
    background:#F89728;
    color:white;
}
.light-gray {

}
.medium-gray {
    background: #4F4F4F;
    color: #C9C9C9;
}
.dark-gray {
    background: #3D3D3D;
}
/* Icon Styles */
.fa.fa-plus-circle {
    cursor:pointer;
    position:absolute;
    top:-10px;
    left:3.1%;
    font-size: 3em;
    color: #58904D;
    transition: transform .25s ease;
    -moz-transition: -moz-transform .25s ease;
    -webkit-transition: -webkit-transform .25s ease;
    -ms-transition: -ms-transform .25s ease;
}
.fa.fa-chevron-circle-right {
    font-size:.8em;
    margin-right:10px;
    color:#005695;
    transition: transform .25s ease;
    -moz-transition: -moz-transform .25s ease;
    -webkit-transition: -webkit-transform .25s ease;
    -ms-transition: -ms-transform .25s ease;
}
.fa.fa-chevron-circle-right.display-info {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.fa.fa-tasks {
    background: #F89728;
    color: #f4f4f4;
    font-size: 1.3em;
    padding: 6px 7px;
}
.fa.fa-tasks:hover {
    background:#E58920;
    color:white;
}
.fa.fa-pencil-square-o {
    background: #005695;
    color: #f4f4f4;
    padding: 5px;
    font-size: 1.4em;
}
.fa.fa-pencil-square-o:hover {
    background:#034975;
    color:white;
}
.fa.fa-download {
    background: #005695;
    color: #f4f4f4;
    padding: 5px;
    font-size: 1.4em;
}
.fa.fa-download:hover {
    background:#034975;
    color:white;
}
.fa.fa-line-chart {
    background: #005695;
    color: #f4f4f4;
    padding: 5px;
    font-size: 1.4em;
}
.fa.fa-line-chart:hover {
    background:#034975;
    color:white;
}
.fa.fa-trash-o {
    background:#D30724;
    color:#FFBEBE;
    cursor:pointer;
}
.fa.fa-trash-o:hover {
    background:#B3011A;
    color:#F8E7E7;
}
.fa.fa-arrow-circle-o-left {
    font-size: 1.5em;
    margin-right:10px;
}
.fa.fa-sort {
    position: absolute;
    right: 5px;
    top: 7px;
    font-size: 1.2em;
    color:#a0a0a0;
}
.btn-icon {
    margin-right:10px;
}

.sidebar-inactive {
    padding:15px 0;
    margin-left:0;
    margin-top:15%;
    padding-top:15px;
    background:#4F4F4F;
    color: #C9C9C9;
    overflow:auto;
}
.sidebar-inactive h1 {
    color:white;
}
/* Dashboard styles */
.dash-block {
    text-align:center;
    padding:15px;
    border:1px solid #f4f4f4;
    width: 120px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.dash-block h2 {
    font-weight:300;
}
.dash-block p {
    font-weight:100;
    font-size:2.5em;
    border-top:1px solid rgb(163, 163, 163);
}
/* Create an item */
i.hdr-new
    transition:transform .25s ease;
    -moz-transition:-moz-transform .25s ease;
    -webkit-transition:-webkit-transform .25s ease;
i.display-create
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
.create-module-form, .create-plan-form, .create-test-form
    background:#F4F4F4;
    overflow:auto;
    padding:0 20px;
    height:10px;
    opacity:0;
    display:none;
    overflow:hidden;
    transition:all .25s ease;
    -moz-transition:all .25s ease;
    -webkit-transition:all .25s ease;
.display-block
    display:block !important;
.create-module-form.display-create, .create-plan-form.display-create, .create-test-form.display-create
    padding:30px 20px;
    height:20px;
    opacity:1;
.create-plan-form.display-create, .create-test-form.display-create
    height:175px
.create-module-form button, .create-test-form button, .create-plan-form button, .general-form button
    float:right;
    padding:8px 15px;
    color:white;
.create-module-form input, .create-test-form input, .create-plan-form input
    width:75%;
    border: 1px solid #ddd;
    margin-right:15px
.create-plan-form textarea, .create-test-form textarea
    width:75%;
    padding-left:5px;
    height:50px;
    border: 1px solid #ddd;
.create-module-form .help-block, .create-plan-form .help-block,
.general-form .help-block, .create-test-form .help-block
    color:#D30724;
/* adding a module switch styles */
.switch-background
    width: 58px;
    background: rgb(213, 213, 213);
    height: 26px;
    float: right;
    border-radius: 15px;
    position: relative;
    box-shadow:inset 1px 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.05);
.switch-control
    position: absolute;
    height: 22px;
    background:#f4f4f4;
    width: 22px;
    border-radius: 20px;
    top: 1px;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    box-shadow:1px 1px 1px rgba(0,0,0,.25)
    -moz-box-shadow:1px 1px 1px rgba(0,0,0,.25)
    -webkit-box-shadow:1px 1px 1px rgba(0,0,0,.25)
    z-index:1;
.switch-left
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(99, 190, 99);
    border-radius: 15px;
    top: 6px;
    left: 5px;
.switch-background.selected .switch-control
    right:2px;
.switch-background.not-selected .switch-control
    right:34px;
/* General Form styles */
.general-form
    background:#f4f4f4;
    overflow:auto;
    overflow-x:hidden;
    padding:30px 20px;
.general-form .blue
    font-weight:inherit;
    float:left;
.general-form button
    font-size:10px;
    float:left;
    margin-left:2%;
.general-form input
    width:200px;
    border: 1px solid #ddd;
    margin-right:15px
.general-form textarea
    width:200px;
    padding-left:5px;
    height:50px;
    border: 1px solid #ddd;
/* reports page styles */
.reports-nav {
    list-style-type:none;
    width:100%;
    margin-top:20px;
}
.reports-nav li {
    float:left;
    width:50%;
    text-align:center;
    background:#E6E6E6;
    transition:all .25s ease;
    -moz-transition:all .25s ease;
    -webkit-transition:all .25s ease;
    border-radius:5px 5px 0 0;
    font-weight:100;
}
.reports-nav li.active {
    background:#f4f4f4;
}
.reports-nav li a {
    text-decoration: none;
    color:black;
    display:block;
    padding:10px 0;
}
.reports-nav li:hover {
    background:#f4f4f4;
}
.reports-section {
    background:#f4f4f4;
    padding-top:30px;
}
.reports-section h2 {
    color: #333;
    font-weight:100;
    text-align:center;
}
.reports-section label {
    margin:10px 0;
    display:block;
}
.reports-section button {
    float:right;
    margin-bottom:15px;
}
.box-container {
    overflow:auto;
    margin-bottom:10px;
}
.box-left, .box-right{
    width:40%;
    float:left;
}
.move-arrows {
    width:20%;
    float:left;
    font-size:2em;
    padding-top:80px;
    text-align:center;
}
.move-arrows i {
    display:block;
}
.reports-section select {
    width:100%;
    height:150px;
}
/* results area */
.report-results {
    float:left;
    width:100%;
}
.results-header {
    margin-bottom:25px;
}
.results-header h2 {
    margin-bottom:10px;
}
.report-results h3 {
    color: #000;
}
.report-results h3 span {
    font-weight:100;
    font-style:italic;
}
.result-test-list {
    list-style-type: none;
    margin:5px 0 5px 3%;
}
.result-test-plan {
    margin:0 2%;
}
.result-test-plan h3{
    margin: 15px 0 5px;
    border-bottom: 1px solid black;
}
.result-test-list li {
    margin-bottom:5px;
}
.report-results table {
    width:100%;
}
.report-results table tbody tr {
    outline:1px solid rgb(204, 204, 204);
    background:white;
}
.report-results table td, .report-results table th {
    padding:2px 5px;
}

.hash {
    background:rgb(206, 206, 206);
    display:inline-block;
    padding:5px 10px;
    border-radius:10px;
    font-size:.9em;
    max-width: 94%;
    overflow-x: scroll;
}

/* Login Page styles */
.alert {
    text-align: center;
    background: rgb(214, 70, 70);
    padding: 10px 0;
    color: white;
}
.login-form {
    height:250px;
    padding:25px 0;
    text-align:center;
}
.login-form h3 {
    margin-bottom:20px;
}
.login-form input {
    display:block;
    width:70%;
    margin:15px auto;
}
.login-form button {
    margin:20px auto 0;
}

/* inline editing */
.general-form {
    background:transparent;
    padding:0;
}
.general-form input {
    width: auto;
    height: auto;
    font-size: 35px;
    font-weight:100;
}
.general-form textarea {
    width: 98%;
    height: auto;
    padding: 20px 5px;
    font-size: 1.17em;
    font-weight:100;
}
@media only screen and (max-width: 860px) {

}
@media only screen and (max-width: 768px) {
    .col-4 {
        width:96%;
        margin:0 2%;
    }
    .main-content {
        padding:0;
    }
    .general-form input {
        font-size: 2em;
    }
    .form-control.search {
        width:100%;
        position:relative;
        float:left;
        margin:20px 0 0;
        right:0;
    }
    .list-header {
        height:80px;
    }
    .list-header span {
        padding-left:46px;
    }
    .list-header .dropdown-box-wrap {
        right:.9%;
        top:-7px;
        z-index:9997;
    }
    .list-items.add-module li {
        overflow:hidden;
    }
    .list-items li.display-info {
        height:180px;
    }
    .list-items li h1 {
        width:100%;
    }
    .list-action-btns i {
        font-size: 1.6em;
    }
    .list-action-btns i.fa-tasks {
        font-size:1.3em;
    }
    .list-items li .badge-items {
        float:left;
    }
    .create-plan-form.display-create, .create-test-form.display-create {
        height:150px;
    }
    .create-module-form.display-create {
        height:80px;
    }
    .create-module-form .help-block, .create-plan-form .help-block, .general-form .help-block, .create-test-form .help-block {
        display:block;
    }

}
@media only screen and (max-width: 550px) {
    .box-left, .box-right {
        width:100%;
    }
    .move-arrows {
        width:100%;
        padding-top:0;
    }
    .move-arrows i {
        display:inline-block;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .report-results thead, .report-results tbody, .report-results td, .report-results th {
        display:block;
    }
    .report-results thead {
        width:30%;
    }
    .report-results tbody {
        width:70%
    }
    .report-results thead, .report-results tbody {
        float:left;
    }
    .report-results td, .report-results th {
        font-weight: 500;
        font-size: .8em;
    }
    .report-results th {
        border-bottom:1px solid #f4f4f4;
    }
    .report-results td {
        border-bottom:1px solid #cccccc;
    }
}
@media only screen and (max-width: 480px) {
    input, textarea {
        width:100% !important;
    }
    .reports-nav li a {
        height:35px;
    }
}
